/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: #FFFEF8;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#filter-container button {
	justify-content: space-between;
	white-space: nowrap;
    color: #1D6154; 
	background-color: #FFFEF8;
    border: solid 1px #1D6154; 
    padding: 10px 20px; 
    margin-right: 10px; 
    border-radius: 2em; 
	font-weight: bold;
	font: inherit;
	gap: 5em;
}

#filter-container button:active {
	background-color: #1D6154;
	color: #FFFEF8;

}

#filter-container {
	display: flex;
	justify-content: center;
	margin-bottom: 4em;
	margin-top: 4em;
}

/* Style pour l'overlay de connexion */
#loginOverlay {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour l'overlay */
    z-index: 9999; /* Assurez-vous que l'overlay est au-dessus de tous les autres éléments */
    justify-content: center;
    align-items: center;
}

#loginFormContainer {
    padding: 20px;
    position: relative; /* Position relative pour permettre le positionnement des éléments fils */
    z-index: 10000; /* Assurez-vous que le formulaire est au-dessus de l'overlay */
}

#loginFormContainer h2 {
	text-align: center;
	margin-bottom: 2em;
}


/* Style pour le formulaire de connexion */
#loginForm {
    display: flex;
    flex-direction: column;
}

#loginForm label {
    margin-bottom: 5px;
	width: 35%;
	align-self: center;
}

#loginForm input {
    width: 33%;
    padding: 15px;
    margin-bottom: 10px;
	align-self: center;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
}

#loginForm button {
	margin-top: 2em;
    padding: 10px 20px;
	width: 15%;
    background-color: #1D6154;
    color: white;
    border: none;
    border-radius: 2em;
    cursor: pointer;
	align-self: center;
}

#closeOverlay {
    margin-top: 10px;
    background-color: #dc3545;
}

a#forgotPassword {
	align-self: center;
	margin-top: 3em;
	color: black;
}

.bold {
    font-weight: bold;
}

body.overlay-open {
    overflow: hidden; /* Empêche le défilement lorsque l'overlay est ouvert */
}

/* Assurez-vous que le logo et les éléments li restent visibles */
header, nav ul {
    position: relative;
    z-index: 10000; /* Assurez-vous que le logo et les éléments li sont au-dessus de l'overlay */
}

nav ul li a {
	text-decoration: none;
	color: inherit;
}

#editBanner {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}